<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Customer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Nice to see You</h1>
    <p>Welcome to Your Bank!</p>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">YourBank</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/start">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Customers
                    <span class="caret"></span></a>
                <ul class="active">
                    <li><a href="/customers/save">Save</a></li>
                    <li><a href="/customers/update">Update</a></li>
                    <li><a href="/customers/delete/">Delete</a></li>
                    <li><a href="/customers/find">Find</a></li>
                    <li><a href="/customers/findall">Find all</a></li>
                </ul>
            </li>
            <li class="dropdown-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/departments/save">Save</a></li>
                    <li><a href="/departments/update">Update</a></li>
                    <li><a href="/departments/delete">Delete</a></li>
                    <li><a href="/departments/find">Find</a></li>
                    <li><a href="/departments/findall">Find all</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Workers
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/workers/save">Save</a></li>
                    <li><a href="/workers/update">Update</a></li>
                    <li><a href="/workers/delete">Delete</a></li>
                    <li><a href="/workers/find">Find</a></li>
                    <li><a href="/workers/findall">Find all</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Addresses
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/addresses/save">Save</a></li>
                    <li><a href="/addresses/update">Update</a></li>
                    <li><a href="/addresses/delete">Delete</a></li>
                    <li><a href="/addresses/find">Find</a></li>
                    <li><a href="/addresses/findall">Find all</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/accounts/save">Save</a></li>
                    <li><a href="/accounts/update">Update</a></li>
                    <li><a href="/accounts/delete">Delete</a></li>
                    <li><a href="/accounts/find">Find</a></li>
                    <li><a href="/accounts/findall">Find all</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cards
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/cards/save">Save</a></li>
                    <li><a href="/cards/update">Update</a></li>
                    <li><a href="/cards/delete">Delete</a></li>
                    <li><a href="/cards/find">Find</a></li>
                    <li><a href="/cards/findall">Find all</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/services/save">Save</a></li>
                    <li><a href="/services/update">Update</a></li>
                    <li><a href="/services/delete">Delete</a></li>
                    <li><a href="/services/find">Find</a></li>
                    <li><a href="/services/findall">Find all</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Welcome to Customer Removal!</h2>
    <p>Find a Customer to delete</p>
    <form th:object="${delete}" th:action="@{/customers}" th:method="put">
        <table class="table table-hover" style="width:350px">
            <thead>
            <tr>
                <th>Id</th>
                <td><input type="text" th:field="*{id}"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="text" th:field="*{password}"></td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td><input type="text" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td><input type="text" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <th>Pesel</th>
                <td><input type="text" th:field="*{pesel}"></td>

            </tr>
            <tr>
                <th>Email</th>
                <td><input type="text" th:field="*{email}"></td>

            </tr>
            <tr>
                <th>Phone number</th>
                <td><input type="text" th:field="*{phoneNumber}"></td>

            </tr>
            </thead>
        </table>
        <div>
            <button th:href="customers" type="delete">Find customer to delete</button>
        </div>
    </form>
</div>

</body>